@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h1 id="headers">Chest</h1>
<div>
    <button class="button btn-lg">
        <a href="http://localhost:63648/Tops/Create">Create</a>
    </button>
</div>
@foreach (var item in Model)
{
<div class="col-md-4 col-sm-6 thumbnail" id="thumbBackColor">
        <img src="@Url.Content(item.Photo)" />

        <h3>
            @Html.DisplayFor(modelItem => item.Name)
        </h3>
        <h3>
            @Html.DisplayFor(modelItem => item.Type)
        </h3>
        <h3>
            @Html.DisplayFor(modelItem => item.Color)
        </h3>
        <h3>
            @Html.DisplayFor(modelItem => item.Season.Name)
        </h3>
        <h3>
           
            @Html.DisplayFor(modelItem => item.Occacion)
        </h3>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
        </p>
</div>
}
    